<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ayuan.thehandofwisdom">

	<!--网络权限-->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@drawable/ic_launcher"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.ayuan.activity.HomeActivity"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.ayuan.activity.SettingActivity"
			android:launchMode="singleTask"></activity><!--设置界面-->
		<activity
			android:name="com.ayuan.activity.MyCarActivity"
			android:launchMode="singleTask"></activity><!--我的座驾界面-->
		<activity
			android:name="com.ayuan.activity.QueryRecharge"
			android:launchMode="singleTask"></activity><!--充值页面-->
		<activity
			android:name="com.ayuan.activity.MyRoadConditions"
			android:launchMode="singleTask"></activity><!--我的路况-->
		<activity
			android:name="com.ayuan.activity.ParkingSpace"
			android:launchMode="singleTask"></activity><!--空闲车位-->
		<activity
			android:name="com.ayuan.activity.BusEnvironment"
			android:launchMode="singleTask"></activity><!--站台环境-->
		<activity
			android:name="com.ayuan.activity.RoadEnvironment"
			android:launchMode="singleTask"></activity><!--道路环境-->
	</application>

</manifest>